apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins
spec:
  replicas: 2
  selector:
    matchLabels:
      app: jenkins
  template:
    metadata:
      labels:
        app: jenkins 
  spec:
      containers:
      - name: jenkins-container
        image: robbenselvaone/project2-dev:latest
        ports:
        - containerPort: 3000
